@use '@angular/material' as mat;

html {
  color-scheme: dark;
  @include mat.theme((
    color: (
      theme-type: dark,
      primary: mat.$violet-palette,
      tertiary: mat.$cyan-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #121212;
  color: #FFFFFF;
}

*, *::before, *::after {
  box-sizing: border-box;
}
